@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html{
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcHlmMzd4MG1va2pxOHdzeHBodmNqejRqdnNwcXplM2NqZmRkdGZodiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pmONR25D6YmkI2qHVg/giphy.gif');
    /* background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzNjNDAydThkM295cTBuY241ODExMW54MHZjYzlnZ3VveGU1emdqNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26AHMBTzc1qJgFfDW/giphy.gif'); */
    background-size: cover;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
}

form{
    background-color: white;
    width: 80vh;
    border-radius: 10px;
    box-shadow: 4px 4px 14px 0px #00000021;
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#perguntas{
    margin: 30px 0px;
}

.perguta_ind{
    margin: 5px auto;
    max-width: 600px;
}

.perguta_ind h3{
    font-size: 22px;
    margin-bottom: 10px;
}

.question-flex{
    display: flex;
    flex-wrap: wrap;
}

.question-flex div{
    flex: 0 1 calc(50% - 10px);
    margin: 5px;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
}

.question-flex div:hover{
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.212);
    font-weight: 600;
    transition: 0.25s;
}

label, input{
    cursor: pointer;
}

button {
    margin-top: 20px;
    background-color: #8a2be2; 
    color: #ffffff; 
    padding: 10px 20px; 
    font-size: 16px;
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: 0.3s ease;
}

button:hover {
    background-color: #6a1c9a;
    font-weight: 600;
}

#home{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-decoration: none;
}

#home img{
    width: 30px;
    margin-right: 10px;
}
