@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.tudo{
    display: flex;
    background-color: gainsboro;
    border-radius: 10px;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.nomes{
    padding: 20px;
    font-size: 25px;
    background-color: white;
    width: 600px;
    text-align: center;
    border-radius: 7px;
}

#home{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-decoration: none;
}

#home img{
    width: 30px;
    margin-right: 10px;
}